# Build output
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Tooling
.vs/
.vscode/

# Secrets
appsettings.*.json
!appsettings.Development.json
